.navbar{
    height: 50px;
    background-color: rgb(27, 27, 95);
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 550;
    font-size: 25px;
}

.navButton{
    margin-left: 20px;
    border: none; 
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(25, 25, 46);
}